*{
    margin: 0px;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}  
.info{
    text-align: justify;
    margin: 15px;
} 
.wel{
    color: rgb(255, 255, 255);
}
.wel h3{
    /* background-color: black; */
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
    color: rgb(255, 255, 255);
    /* border: 2px solid red; */
    margin: 0;
}
body{
    margin: 0;

}